/* css styles */

// center text
.center-text { 
  text-align: center;
}

// right-align elements
.right-align { 
  text-align: right;
}

.slide-deck {
    border: 3px solid #dee2e6;
    width: 100%;
    height: 475px;
}